# SPDX-FileCopyrightText: 2021 QuNex development team <https://qunex.yale.edu/>
#
# SPDX-License-Identifier: GPL-3.0-or-later

[submodule "qunexaccept"]
	path = qunexaccept
	url = ../qunexaccept
[submodule "qunexdevops"]
	path = qunexdevops
	url = ../qunexdevops
[submodule "qunexdocker"]
        path = qunexdocker
	url = ../qunexdocker
