# SPDX-FileCopyrightText: 2021 QuNex development team <https://qunex.yale.edu/>
#
# SPDX-License-Identifier: GPL-3.0-or-later

[submodule "qunexaccept"]
	path = qunexaccept
	url = git@bitbucket.org:oriadev/qunexaccept.git
[submodule "qunexdevops"]
	path = qunexdevops
	url = git@bitbucket.org:oriadev/qunexdevops.git
[submodule "qunexcontainer"]
	path = qunexcontainer
	url = git@bitbucket.org:oriadev/qunexcontainer.git
