[submodule "qunexaccept"]
	path = qunexaccept
	url = git@bitbucket.org:oriadev/qunexaccept.git
[submodule "qunexdevops"]
	path = qunexdevops
	url = git@bitbucket.org:oriadev/qunexdevops.git
[submodule "qunexcontainer"]
	path = qunexcontainer
	url = git@bitbucket.org:oriadev/qunexcontainer.git
